In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../Dados/BikeData-Raw.parquet")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,882,2018-11-25 18:21:38.7740,2018-11-25 18:36:21.4720,423.0,W 54 St & 9 Ave,40.765849,-73.986905,476.0,E 31 St & 3 Ave,40.743943,-73.979661,20049,Customer,1969,0
1,669,2018-08-13 18:25:50.5440,2018-08-13 18:36:59.9680,3467.0,W Broadway & Spring Street,40.724947,-74.001659,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,33847,Subscriber,1987,1
2,521,2018-12-18 20:12:15.0620,2018-12-18 20:20:57.0170,411.0,E 6 St & Avenue D,40.722281,-73.976687,504.0,1 Ave & E 16 St,40.732219,-73.981656,30284,Subscriber,1971,1
3,270,2018-05-18 14:23:52.1050,2018-05-18 14:28:22.4910,437.0,Macon St & Nostrand Ave,40.680983,-73.950048,3047.0,Halsey St & Tompkins Ave,40.682369,-73.944118,31542,Subscriber,1964,1
4,441,2018-08-14 19:00:15.8670,2018-08-14 19:07:37.0520,519.0,Pershing Square North,40.751873,-73.977706,498.0,Broadway & W 32 St,40.748549,-73.988084,18363,Subscriber,1979,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1000000 non-null  int64
 1   starttime                1000000 non-null  object
 2   stoptime                 1000000 non-null  object
 3   start station id         999927 non-null   float64
 4   start station name       999927 non-null   object
 5   start station latitude   1000000 non-null  float64
 6   start station longitude  1000000 non-null  float64
 7   end station id           999927 non-null   float64
 8   end station name         999927 non-null   object
 9   end station latitude     1000000 non-null  float64
 10  end station longitude    1000000 non-null  float64
 11  bikeid                   1000000 non-null  int64
 12  usertype                 1000000 non-null  object
 13  birth year               1000000 non-null  int64
 14  gender                   1000000 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 114.4+ MB

In [24]:
(
    df
    .rename(columns={
        'tripduration': 'duracao_viagem',
        'starttime': 'inicio_viagem',
        'stoptime' : 'fim_viagem',
        'start station id': 'id_estacao_inicio',
        'start station name': 'nome_estacao_inicio',
        'start station latitude': 'estacao_inicio_latitude',
        'start station longitude': 'estacao_inicio_longitude',
        'end station id': 'id_estacao_fim',
        'end station name': 'nome_estacao_fim',
        'end station latitude': 'estacao_fim_latitude',
        'end station longitude': 'estacao_fim_longitude',
        'bikeid': 'id_bike',
        'usertype': 'tipo_usuario',
        'birth year': 'ano_nascimento',
        'gender': 'genero'
    })
    .assign(
        inicio_viagem = lambda x: pd.to_datetime(x.inicio_viagem),
        fim_viagem = lambda x: pd.to_datetime(x.fim_viagem),
        id_estacao_inicio = lambda x: x.id_estacao_inicio.astype('Int64'),
        nome_estacao_inicio = lambda x: x.nome_estacao_inicio.astype('category'),
        id_estacao_fim = lambda x: x.id_estacao_fim.astype('Int64'),
        nome_estacao_fim = lambda x: x.nome_estacao_fim.astype('category'),
        tipo_usuario = lambda x: x.tipo_usuario.astype('category'),
        genero = lambda x: x.genero.apply(lambda y: 'Masculino' if y == 1 else 'Feminino' if y == 2 else 'Desconhecido').astype('category')
    )
)

,duracao_viagem,inicio_viagem,fim_viagem,id_estacao_inicio,nome_estacao_inicio,estacao_inicio_latitude,estacao_inicio_longitude,id_estacao_fim,nome_estacao_fim,estacao_fim_latitude,estacao_fim_longitude,id_bike,tipo_usuario,ano_nascimento,genero
0,882,2018-11-25 18:21:38.774,2018-11-25 18:36:21.472,423,W 54 St & 9 Ave,40.765849,-73.986905,476,E 31 St & 3 Ave,40.743943,-73.979661,20049,Customer,1969,Desconhecido
1,669,2018-08-13 18:25:50.544,2018-08-13 18:36:59.968,3467,W Broadway & Spring Street,40.724947,-74.001659,327,Vesey Pl & River Terrace,40.715338,-74.016584,33847,Subscriber,1987,Masculino
2,521,2018-12-18 20:12:15.062,2018-12-18 20:20:57.017,411,E 6 St & Avenue D,40.722281,-73.976687,504,1 Ave & E 16 St,40.732219,-73.981656,30284,Subscriber,1971,Masculino
3,270,2018-05-18 14:23:52.105,2018-05-18 14:28:22.491,437,Macon St & Nostrand Ave,40.680983,-73.950048,3047,Halsey St & Tompkins Ave,40.682369,-73.944118,31542,Subscriber,1964,Masculino
4,441,2018-08-14 19:00:15.867,2018-08-14 19:07:37.052,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,-73.988084,18363,Subscriber,1979,Masculino
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1658,2019-06-12 22:09:26.375,2019-06-12 22:37:05.244,3310,14 St & 7 Ave,40.663779,-73.983968,414,Pearl St & Anchorage Pl,40.702819,-73.987658,34104,Subscriber,1981,Feminino
999996,294,2019-10-04 15:13:45.883,2019-10-04 15:18:40.101,3062,Myrtle Ave & Marcy Ave,40.695398,-73.949549,373,Willoughby Ave & Walworth St,40.693317,-73.953820,14887,Subscriber,1986,Masculino
999997,1386,2019-06-09 13:46:00.828,2019-06-09 14:09:07.822,311,Norfolk St & Broome St,40.717227,-73.988021,143,Clinton St & Joralemon St,40.692395,-73.993379,25742,Subscriber,1987,Masculino
999998,1648,2019-09-26 17:48:29.830,2019-09-26 18:15:57.963,266,Avenue D & E 8 St,40.723684,-73.975748,3680,E 43 St & 5 Ave,40.754121,-73.980252,32518,Subscriber,1995,Masculino
999999,506,2019-05-29 16:56:05.696,2019-05-29 17:04:32.584,3345,Madison Ave & E 99 St,40.789485,-73.952429,3507,Park Ave & E 124 St,40.804555,-73.939686,25060,Subscriber,1958,Masculino

In [27]:
pd.read_parquet("../Dados/BikeData-Processed.parquet").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   duracao_viagem            1000000 non-null  int64
 1   inicio_viagem             1000000 non-null  datetime64[ns]
 2   fim_viagem                1000000 non-null  datetime64[ns]
 3   id_estacao_inicio         999927 non-null   Int64
 4   nome_estacao_inicio       999927 non-null   category
 5   estacao_inicio_latitude   1000000 non-null  float64
 6   estacao_inicio_longitude  1000000 non-null  float64
 7   id_estacao_fim            999927 non-null   Int64
 8   nome_estacao_fim          999927 non-null   category
 9   estacao_fim_latitude      1000000 non-null  float64
 10  estacao_fim_longitude     1000000 non-null  float64
 11  id_bike                   1000000 non-null  int64
 12  tipo_usuario              1000000 non-null  category
 13  ano_nascimento            1000000 non-null  int64
 14  genero                    1000000 non-null  category
dtypes: Int64(2), category(4), datetime64[ns](2), float64(4), int64(3)
memory usage: 91.6 MB